body {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  }

 li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  .container{
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;     
  }

  header{
      height: 70px;
      width: 100%;
      background-color: black;
      position: fixed;
      top: 0;
      z-index: 10;
  }

  .header-left h1{
      color: white;
      float: left;
      font-size: 20px;
      line-height: 50px;
      padding-left: 15px;
  }

  .header-right{
      float: right;
      margin-right: 25px;
  }

  .header-right a{
      line-height: 70px;
      color: white;
      padding: 0 25px;
      display: block;
      transition: all 0.5s;
  }

  .header-right:hover{
      background-color: rgba(233, 12, 12, 0.5);
  }

  .top-wrapper {
    padding: 180px 0 100px 0;
    background-color:pink;
    color: white;
    text-align: center;
  }

.top-wrapper h2{
    font-size: 50px;
}

.top-wrapper p{
    font-size: 28px;
    padding-top: 10px
}

.fight-wrapper{
    padding: 180px 0 100px 0;
    background-color: powderblue;
    color: white;
    text-align: center;
}

.fight-message{
    font-size: 50px;
}

.btn{
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover{
    opacity: 1;
}

.fight{
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.fight:active{
    position:relative;
    top: 7px;
    box-shadow: none;
}

.morefight{
    padding: 15px 40px;
    background-color: #dd1616;
    cursor: pointer;
    box-shadow: 0 7px #6e0808;
}

.morefight:active{
    position:relative;
    top: 7px;
    box-shadow: none;
}
